* {
    font-family: 'Marvel', sans-serif;
    margin: 0;
    color:aliceblue;
}

header {
    height: 20em;
    background-image: url("./image/logo.jpg");
    background-size: contain;
    background-position: center;
}

h1 {
    font-size: 11rem;
    font-weight: bolder;
    color: aliceblue;
    text-align: center;
    padding-top: 15vh;
}

section {
    background-image: url("./image/captain1.jpg");
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-size: cover;
}
h2 {
    padding: 2rem;
    text-align: center;
    font-size: 40px;
}
.article-box {
    display: flex;
    width: 60%;
  }
  .space {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .image {
    flex: 1;
    height: 15%;
    margin: 20px;
  }
  img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
  .content {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 18px;
  text-align: justify;
  font-size: 3vh;
}
article {
    margin-left: 18rem;
    border: 3px solid aliceblue;
    padding: 10px;
    border-radius: 1vw;
    box-shadow: 8px 8px rgb(24, 24, 24);
}
h3 {
    text-align: center;
    padding: 10px;
}
section {
    padding-bottom: 15vh;
}
.send-buttom {
    color:black;
    border:3px solid gray;
    background-color: aliceblue;
    box-shadow: 8px 8px rgb(24, 24, 24);
    width: 50%;
    font-size: 1.4rem;
}
.form {
    text-align: center;
    margin-right: 10vw;
}
footer {
    background-image: url("./image/captain.jpg") ;
    height:7em;
    background-size: contain;
  }

    footer p {
        text-align: center;
        font-size: 20px;
    }